<!-- <h2>Contact List</h2> -->
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Last Name </th>
            <th> First Name </th>
            <th> Email </th>
            <th> Phone Number </th>
        </tr>
    </thead>
    <tbody>
        <!-- ngFor is a repeater similar to a for loop. Iterates over contents of contact -->
        <tr *ngFor="let contact of contacts">
            <td> {{ contact.lastName }} </td>
            <td> {{ contact.firstName }} </td>
            <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
            <td> {{ contact.phoneNumber }} </td>
            <td>
                <button (click)="deleteContact(contact.id)" class="btn btn-danger"> Delete </button>
            </td>
        </tr>
    </tbody>
</table>